@import '../../styles/colors.scss';

.application-page {
  overflow: hidden;

  &__info {
    font-size: 2rem;
    color: $basic;
    margin: 3rem 0rem 2rem 0rem;

    @media (max-width: 1440px) {
      font-size: 1.3rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;

    @media (max-width: 768px) {
      gap: 0.8rem;
    }
  }
}

.application-item {
  > div > div {
    display: flex;
    flex-direction: column;
    max-width: 18rem;

    @media (max-width: 1680px) {
      max-width: 15rem;
    }
  }

  &__icon {
    height: 8rem;

    @media (max-width: 1680px) {
      height: 5rem;
    }
  }

  &__title {
    font-weight: bold;
    text-align: center;
    color: $basic;
    font-size: 1.5rem;
    margin: 1rem 0 1.5rem 0;

    @media (max-width: 1680px) {
      font-size: 1.25rem;
    }

    @media (max-width: 1440px) {
      font-size: 1rem;
    }

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }

  &__description {
    display: flex;

    > div {
      margin-left: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }

    p {
      margin: 0;
    }

    &-text {
      color: $basic;
      font-size: 1.5rem;

      &_under {
        background-image: linear-gradient(to right, $basic 0%, $basic 100%);
        background-repeat: repeat-x;
        background-position: 0 100%;
        background-size: 100% 1px;
      }

      @media (max-width: 1680px) {
        font-size: 1.25rem;
      }

      @media (max-width: 1440px) {
        font-size: 1rem;
      }
    }
  }
}
