@import '../../styles/colors.scss';

.header {
  z-index: 2;
  position: relative;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $basic;
    font-weight: bold;
    font-size: 3.5rem;
  }

  &__img {
    height: 7rem;
  }

  @media (max-width: 1440px) {
    &__title {
      font-size: 3rem;
    }

    &__img {
      height: 6rem;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 1.5rem;
    }

    &__img {
      height: 4rem;
    }
  }
}
