@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  font-family: 'Gilroy', 'Roboto', sans-serif, serif;
  font-size: 16px;
  overflow: hidden;

  @media (max-width: 1279px), (max-height: 780px) and (min-width: 1280px) {
    font-size: 14px;
  }

  @media (max-width: 879px), (max-height: 380px) and (min-width: 880px) {
    font-size: 12px;
  }
}

.page {
  height: 100vh;
}

.home-page {
  background-color: #153e4e;
  color: #fff;

  &-title {
    font-weight: bold;
  }

  &-logo {
    height: 90vh;

    @media (max-width: 1030px) {
      height: 60vh;
    }

    @media (max-width: 768px) {
      height: 80vw;
    }
  }

  &-note {
    padding: 0 0 3rem 3rem;
  }

  &-subtitle {
    font-weight: bold;
    margin-top: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(0.75rem + 3vh);

    @media (max-width: 1030px) {
      flex-direction: column-reverse;
      font-size: calc(0.75rem + 2vw);
    }

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      font-size: calc(0.75rem + 3vw);
    }
  }

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.info-page {
  &-line {
    display: flex;
    align-items: center;
    padding: 3rem 5rem 5rem 1rem;

    @media (max-width: 768px) {
      padding: 3rem 0rem 3rem 0;
    }
  }

  &__icon {
    height: 7rem;

    @media (max-width: 768px) {
      height: 5.5rem;
    }
  }

  &__description {
    padding-left: 2rem;
    font-size: 1.5rem;
    color: #153e4e;
  }
}

.application-page {
  &__info {
    font-size: 1.5rem;
    color: #153e4e;
    margin: 3rem 0rem 2rem 0rem;

    @media (max-width: 1440px) {
      font-size: 1.3rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

.technology-page {
  position: relative;
  overflow: hidden;

  &-block {
    display: flex;
  }

  &__content {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    word-break: break-word;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 3rem;
    }

    > div:first-child {
      width: 50%;
    }

    > div:last-child {
      width: 30%;

      @media (max-width: 1080px) {
        width: 40%;
      }
    }

    @media (max-width: 768px) {
      > div:first-child {
        width: auto;
      }

      > div:last-child {
        margin-top: 2rem;
        width: auto;
      }
    }

    &-text {
      margin-left: 2rem;
      font-size: 2rem;

      @media (max-width: 1440px) {
        font-size: 1.5rem;
      }

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }
}

.contacts-page {
  z-index: 2;
  position: relative;
}

.header {
  z-index: 2;
  position: relative;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #153e4e;
    font-weight: bold;
    font-size: 3rem;

    &_white {
      color: #fff;
    }
  }

  &__img {
    height: 6rem;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 1.5rem;
    }

    &__img {
      height: 4rem;
    }
  }
}

.application-item {
  > div {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
  }

  &__icon {
    height: 8rem;

    @media (max-width: 768px) {
      height: 5rem;
    }
  }

  &__title {
    font-weight: bold;
    text-align: center;
    color: #153e4e;
    font-size: 1.25rem;
    margin: 1rem 0 1.5rem 0;

    @media (max-width: 1440px) {
      font-size: 1rem;
    }
  }

  &__description {
    display: flex;

    > div {
      margin-left: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }

    &-text {
      color: #153e4e;
      font-size: 1.25rem;
      line-height: 1.3rem;

      @media (max-width: 1440px) {
        font-size: 1rem;
      }
    }
  }
}

.line-horizontal {
  height: 0.4rem;
  background-color: #153e4e;
  border-radius: 2rem;
}

.line-vertical {
  margin: 0;
  min-width: 0.2rem;
  background-color: #153e4e;
  border-radius: 2rem;

  &_bold {
    min-width: 0.75rem;
  }

  &_white {
    background-color: #fff;
  }
}

.cloud-background {
  height: 85rem;
  position: absolute;
  top: -15rem;
  left: -25rem;
  z-index: 1;

  @media (max-width: 2500px) {
    height: 85rem;
    top: -15rem;
    left: -47rem;
  }

  @media (max-width: 1920px) {
    height: 75rem;
    top: -7rem;
    left: -29rem;
  }

  @media (max-width: 1680px) {
    height: 70rem;
    top: -7rem;
    left: -35rem;
  }

  @media (max-width: 1440px) {
    height: 70rem;
    top: -7rem;
    left: -40rem;
  }
}

.white-text {
  color: #fff;
}

.stroke {
  border: 0.1rem solid #153e4e;
  border-radius: 2rem;
  padding: 0 0.5rem 0.1rem 0.5rem;
  white-space: nowrap;

  &-sm {
    margin: 0 -0.3rem;
  }

  &-mm {
    margin: 0 -0.6rem;
  }

  &-lm {
    margin: 0 -0.8rem;
  }

  &-white {
    border-color: #fff;
  }

  @media (max-width: 768px) {
    white-space: pre-wrap;
  }
}

.info-page,
.application-page,
.technology-page,
.contacts-page {
  background-color: #fff;
  padding: 2.5rem;

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
